{% extends 'base.twig' %}

{% block body %}

    {{ dump(project) }}

    <h1>{{ project["name"] }}</h1>
    <h2>{{ project.description | raw('html') }}</h2>
    <p class="text-muted">
        Développé du {{ project.startedAt.format('d/m/Y') }} au {{ project.finishedAt.format('d/m/Y à H:i:s') }}</p>
    <p>{{ project.image }}</p>

    <ul>
        {% for language in project.languages %}
            <li>{{ language | upper }}</li>
        {% endfor %}
    </ul>

{% endblock body %}